body {
    margin: 0;
    background-color: blanchedalmond;
    text-align: center;
}

#display {
    margin-bottom: 1rem;
}

.container {
    max-width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 12px;
}

.grid {
    border: 1px solid black;
    width: 140px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}


.grid div {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: solid 1px lightblue;
}

.grid div:hover {
    border: solid 1px black;
}

.under {
    display: none;
}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: blue;
    border-radius: 10px;
}

.highlight {
    border: solid 2px aqua !important;
}


#current-player {
}

#result {
    display: none;
}

.player-color {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    color: white;
    line-height: 20px;
    text-align: center;
}

/* .display span {
    min-width: 10px;
    min-height: 10px;
} */