body {
    margin: 0;
    background-color: blanchedalmond;
    text-align: center;
}

.game {
    padding-top: 10rem;
    margin: auto;
    display: inline-block;
}

.grid {
    border: 1px solid black;
    width: 140px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}


.grid div {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: solid 1px lightblue;
}

.grid div:hover {
    border: solid 1px black;
}

.under {
    display: none;
}

.player-one {
    background-color: red;
    border-radius: 10px;
}

.player-two {
    background-color: blue;
    border-radius: 10px;
}

.highlight {
    border: solid 2px aqua !important;
}


#current-player {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    color: white;
} 

/* .display span {
    min-width: 10px;
    min-height: 10px;
} */